/* Product section  */

#product-overview {
  /* background: #ff1b68; */
  height: 33vh;
  background: linear-gradient(to top, rgba(80 68 18 / 0.6), transparent),
    url("./images/freedom.jpg") left 0% bottom 75% / cover no-repeat border-box,
    #ff1b68;
  /* background-position: left 0% top 40%;
  background-size: cover;
  background-repeat: no-repeat; */
  margin-top: 3rem;
  position: relative;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 8%;
  left: 1%;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

/* Plans section  */
.plans-container {
  display: grid;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-wrap: wrap;
  grid-auto-flow: row;
}
/* @media screen and (width<800px) {
  
} */
.plan {
  /* display: inline-block; */
  /* width: 30%; */
  border: 2px solid black;
  background-color: #1fff03;
  text-align: center;
  padding: 1rem;
  margin: 0.8rem 0;
  /* vertical-align: middle; */
  /* flex-basis: 30%; */
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

/* Recommanded plan  */
.plan--highlight {
  background-color: #19b84c;
  color: #fff;
  /* box-shadow: 2px 2px 2px 2px rgb(0 0 0 /0.5); */
}
.plan__anotation {
  background-color: #fff;
  color: rgb(100, 255, 150);
  padding: 0.5rem;
  box-shadow: 6px 6px 2px 2px rgb(0 0 0 /0.5);
  border-radius: 8px;
}

.plan--highlight .plan__title {
  color: #fff;
}

.plan--highlight .plan__price {
  color: #0e4f1f;
}

.plan-items {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.plan-item {
  margin: 0.5rem;
}

/* key features section  */

#key-features {
  background-color: #ff1b68;
  margin-top: 4rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-features__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.key-feature__image {
  height: 128px;
  width: 128px;
  border: 2px solid #424242;
  background: #ffcede;
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  margin: auto;
}
.key-feature__description {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

/* modal styling  */

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 10%;
  width: 80%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

/* Media Queries  */

@media (width> 40rem) {
  #product-overview {
    height: 55vh;
  }
  #product-overview h1 {
    font-size: 3rem;
  }
  .plans-container {
    grid-auto-flow: column;
    justify-content: space-evenly;
  }
  .plan--highlight {
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 /0.5);
  }
  .key-features__items {
    flex-direction: row;
    align-items: baseline;
  }
  .key-feature {
    max-width: 15rem;
    text-align: center;
  }
  .modal {
    max-width: 40vw;
    left: 30%;
  }
}
