.signup-page {
  margin-top: 5rem;
  height: 100%;
}

.signup-title {
  text-align: center;
  margin: 1rem;
}

.signup-page form {
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 0.5rem;
  margin: 1rem 0.5rem;
  max-width: 30rem;
  display: grid;
}
.signup-page input,
.signup-page label {
  margin: 0.5rem;
}
.signup-page select {
  font-weight: bold;
  padding: 0.25rem;
  font-family: inherit;
  margin: 0 1rem;
}
.signup-page label {
  font-weight: bold;
}

.signup-page input:not([type="checkbox"]) {
  padding: 0.35rem;
  border-radius: 0.5rem;
  width: 95%;
  font-family: inherit;
}

.signup-page input:focus,
.signup-page select:focus {
  outline: none;
  background-color: #d8f3df;
  border: 2px solid #2ddf5c;
}

/* Custom checbox  */

.signup-page input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  vertical-align: middle;
}
.signup-page input[type="checkbox"]:checked {
  background-color: #2ddf5c;
}
.signup-page button[type="submit"] {
  justify-self: center;
}

/* Form validation  */
.signup-page input.invalid,
.signup-page select.invalid,
.signup-page input:invalid {
  border: 2px solid red;
  background-color: #f89f9f;
}

@media screen and (width>40rem) {
  .signup-page form {
    margin: 5rem auto;
    grid-template-columns: 10rem auto;
  }

  .signup-page .agree-terms-conatiner {
    grid-column: span 2;
    margin: 1rem;
  }
  .signup-page button[type="submit"] {
    grid-column: span 2;
  }
}
